/* ==========================================================================
                                Table of Contents
========================================================================== */

/*

    0.  Includes
    1.  Basics
    2.  Utilities
    3.  General
    4.  Articles
    5.  Third Party Elements
    6.  Pagination
    7.  Footer
    8.  Single Post - post.hbs
    9.  Third Party Elements -> post.hbs
   10.  Comments - Disqus
   11.  Author Page
   12.  Media Queries (Tablet)
   13.  Media Queries (Phone)

 */

/* ==========================================================================
                                0. Includes
   ========================================================================== */

/*@import url(normalize.css);*/

/* ==========================================================================
                    1. Basics - Setting up some base styles
   ========================================================================== */

body {
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1.6;

    margin: 0;

    color: #444;
    background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    line-height: 1;

    text-rendering: optimizelegibility;
}

h1 {
    font-size: 3.0rem;
}
h2 {
    font-size: 2.6rem;
}
h3 {
    font-size: 2.2rem;
}
h4 {
    font-size: 2.0rem;
}
h5 {
    font-size: 1.8rem;
}
h6 {
    font-size: 1.6rem;
}

a {
    text-decoration: none;

    color: #383838;
}

a:hover {
    color: red;
}

p,
ul,
ol,
dl {
    margin: 1em 0;
}

ol ol,
ul ul,
ul ol,
ol ul {
    margin: 0.4em 0;
}

dl dt {
    font-weight: bold;

    float: left;
    clear: left;
    overflow: hidden;

    width: 180px;
    margin-bottom: 1em;

    text-align: right;
    white-space: nowrap;
    text-overflow: ellipsis;
}

dl dd {
    margin-bottom: 1em;
    margin-left: 200px;
}

hr {
    display: block;

    height: 1px;
    margin: 3.2em 0;
    padding: 0;

    border: 0;
    border-top: 1px solid #efefef;
}

img {
    border: 0;
}

.postcontent img {
    display: block;

    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0.6em 0;
}

blockquote {
    box-sizing: border-box;
    margin: 1.6em 0 1.6em -2.2em;
    padding: 0 0 0 1.6em;

    border-left: #4a4a4a 0.4em solid;
}

blockquote p {
    font-style: italic;

    margin: 0.8em 0;
}

blockquote small {
    font-size: 0.9em;

    display: inline-block;

    margin: 0.8em 0 0.8em 1.5em;

    color: #ccc;
}

blockquote small:before {
    content: '\2014 \00A0';
}

blockquote cite {
    font-weight: bold;
}

blockquote cite a {
    font-weight: normal;
}

mark {
    background-color: #ffc336;
}

code,
tt {
    font-family: Inconsolata, Menlo, monospace, sans-serif;
    font-size: 0.85em;

    padding: 1px 3px;

    white-space: pre-wrap;

    border: 1px solid #e3edf3;
    border-radius: 2px;
    background: #f7fafb;
}

pre {
    font-family: Inconsolata, Menlo, monospace, sans-serif;
    font-size: 0.9em;

    overflow: auto;

    box-sizing: border-box;
    width: 100%;
    margin: 1.6em 0;
    padding: 10px;

    white-space: pre;

    border: 1px solid #e3edf3;
    border-radius: 3px;
    background: #f7fafb;
}

pre code,
tt {
    font-size: inherit;

    padding: 0;

    white-space: pre-wrap;

    border: none;
    background: transparent;
}

kbd {
    font-size: 0.9em;
    font-weight: bold;

    display: inline-block;

    margin-bottom: 0.4em;
    padding: 1px 8px;

    color: #666;
    border: #ccc 1px solid;
    border-radius: 4px;
    background: #f4f4f4;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2),
    0 1px 0 0 #fff inset;
    text-shadow: #fff 0 1px 0;
}

table {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    margin: 1.6em 0;

    background-color: transparent;
}

table th,
table td {
    line-height: 20px;

    padding: 8px;

    text-align: left;
    vertical-align: top;

    border-top: 1px solid #efefef;
}

table th {
    color: #000;
}

table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
    border-top: 0;
}

table tbody + tbody {
    border-top: 2px solid #efefef;
}

table table table {
    background-color: #fff;
}

table tbody > tr:nth-child(odd) > td,
table tbody > tr:nth-child(odd) > th {
    background-color: #f6f6f6;
}

table.plain tbody > tr:nth-child(odd) > td,
table.plain tbody > tr:nth-child(odd) > th {
    background: transparent;
}

iframe,
.fluid-width-video-wrapper {
    display: block;

    margin: 1.6em 0;
}

/* When a video is inside the fitvids wrapper, drop the
margin on the iframe, cause it breaks stuff. */
.fluid-width-video-wrapper iframe {
    margin: 0;
}


/* ==========================================================================
                                2. Utilities
   ========================================================================== */

.hidden {
    display: none;
    visibility: hidden;

    text-indent: -99999px;
}

/* =========================================================================
                    3. General - The main styles for the the theme
   ========================================================================== */

.site-head,
#site-head {
    position: relative;

    display: table;

    width: 100%;
    margin-bottom: 6rem;

    text-align: center;

    color: #fff;
    background: #2b2b2b no-repeat center center;
    background-size: cover;
}

.site-head:before,
#site-head:before {
    position: absolute;

    display: block;

    width: 100%;
    height: 100%;

    content: '';

    background-image: linear-gradient(-180deg, rgba(43,43,43,0.20) 0%, rgba(43,43,43,0.50) 100%);
}

.header {
    position: relative;

    display: block;

    width: 80%;
    max-width: 700px;
    margin: 3rem auto;
}

/* Logo */

.logo img {
    display: block;

    width: 90px;
    height: 90px;
    margin: 0 auto;

    border: 3px solid #fff;
    border-radius: 100px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
       -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

.blogtitle {
    margin: 2rem 0 2rem;
}

.blogtitle a,
#site-head .header .blogtitle a {
    font-size: 4.8rem;
    font-weight: 700;

    color: #fff;
    text-shadow: 2px 2px 0 #000;
}

.blogdescription {
    font-size: 1.6rem;
    line-height: 1.4;

    width: 70%;
    margin: 0 auto;

    color: #eee;
    text-shadow: 1px 1px 2px #000;

    text-rendering: optimizelegibility;
}

/* ==========================================================================
                                4. Articles
   ========================================================================== */

.main {
    width: 80%;
    max-width: 780px;
    margin: 0 auto;
}

.article {
    margin-bottom: 6rem;
}

.postheader ul {
    margin: 0;
    padding: 0;
}

.author-thumb {
    width: 28px;
    height: 28px;
    margin-right: 0.5rem;

    vertical-align: bottom;

    border-radius: 100%;
}

.postheader ul li {
    display: inline-block;

    margin: 0;
    padding: 0;

    color: #7f7f7f;
}

.date,
.posttags,
.posttags a,
.name-thumb a {
    font-size: 1.4rem;
}

.posttags:before,
.postheader ul li:nth-child(3):before {
    font-size: 1.4rem;
    font-weight: 700;

    content: ' • ';

    color: #7f7f7f;
}

/* Post title */

.posttitle {
    font-weight: bold;
    line-height: 1.2em;

    margin: 0;
    padding: 1rem 0 1.2rem;
}

/* Post content */

.postcontent {
    font-family: 'Noto Serif', serif;
    font-size: 2rem;
    line-height: 1.6;

    padding-bottom: 2rem;

    color: #383838;
}

.postcontent p:first-child {
    margin: 0;
    padding: 0;
}


/* ==========================================================================
                                5. Third Party Elements
   ========================================================================== */

.excerptfooter {
    font-size: 1.6rem;
    font-weight: 700;

    position: relative;

    width: 100%;

    color: #383838;
    border-bottom: 1px solid #ddd;
}

.read {
    padding-top: 1rem;
    padding-bottom: 1.4rem;
}

.read span:before {
    content: ' • ';
}

.share {
    position: absolute;
    top: 1rem;
    right: 0;

    overflow: hidden;
}

.share h4 {
    font-size: 1.6rem;

    float: left;

    margin-top: 0;
    padding-top: 1rem;

    color: #7f7f7f;
}

.share a {
    font-size: 2rem;

    margin-left: 0.3rem;
    padding-top: 0.8rem;

    text-decoration: none;

    color: #ddd;
}

/* ==========================================================================
            6. Pagination - Tools to let you flick between pages
   ========================================================================== */

.pagination {
    font-size: 1.4rem;
    font-weight: 300;

    position: relative;

    width: 100%;
    max-width: 780px;
    margin: 0 auto;
    padding-bottom: 10rem;

    text-align: center;
}

.pagination a {
    text-decoration: none;

    color: #7f7f7f;
}

.newer-posts,
.older-posts {
    position: absolute;

    display: inline-block;

    max-width: 100%;
    padding: 0.8rem 2.5rem;

    transition: border-color ease-out 0.4s, color ease-out 0.4s;

    border: 2px solid #ddd;
    border-radius: 4px;
}

.older-posts:hover,
.newer-posts:hover {
    border-color: #7f7f7f;
}

.older-posts {
    right: 0;
}
.newer-posts {
    left: 0;
}

.older-posts span {
    padding-left: 5px;
}
.newer-posts span {
    padding-right: 5px;
}

.page-number {
    display: inline-block;

    margin: 1.4rem auto;

    color: #7f7f7f;
}

/* ==========================================================================
                    7. Footer - The bottom of every page
   ========================================================================== */

.footer {
    font-size: 0.8rem;

    padding: 1em 2em;

    text-align: center;

    border-top: 1px solid #ccc;
}

.footer a {
    color: #999;
}



/* Tooltip */

.tooltip {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1em;

    position: absolute;
    top: -50px;

    display: none;

    width: 5rem;
    margin-left: -18px;
    padding: 4px 8px 5px 8px;

    border-spacing: 0;

    text-align: center;

    color: #fff;
    border-radius: 5px;
    background: #202020;
}

/* The little chiclet arrow under the tooltip, pointing down */

.tooltip:after {
    position: absolute;
    z-index: 220;
    bottom: -4px;
    left: 50%;

    display: block;

    width: 0;
    margin-left: -5px;

    content: '';

    opacity: 0;
    border-width: 5px 5px 0 5px;
    border-style: solid;
    border-color: #202020 transparent;
}

/* On hover, show the tooltip! */

.footer ul li:hover .tooltip {
    top: -33px;

    display: inline-table;

    opacity: 1;
}

.footer ul li:hover .tooltip:after {
    opacity: 1;
}

.footer hr {
    width: 35%;
    height: 1px;
    margin: 2.4rem auto;

    border-top: 1px #202020 solid;
    background: #383838;
}

.footer .main p {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.4em;

    margin: 0;

    text-align: center;

    color: #bbb;
    text-shadow: 0 1px 0 #000;
}

.footer .main p a {
    font-weight: 700;

    text-decoration: none;

    color: #bbb;
}

.footer .main p a:hover {
    color: #fff;
}

/* ==========================================================================
                    8. Single Post - When you click on an individual post
   ========================================================================== */

/* Article Header */

.post-2 {
    height: 300px;
    margin-bottom: 5rem;

    background: #fff;
}

.post-2:before {
    display: none;

    content: '';
}

.post-2 .header .logo img {
    box-shadow: none;
}

.post-2 .header .blogtitle,
.post-2 .blogtitle a {
    color: #383838;
    text-shadow: none;
}

.post-2 .header .blogtitle a:hover {
    color: #5ba4e5;
}

.post-2 .header .blogtitle {
    margin: 3.5rem 0;
}

.main .pause {
    width: 100%;
    max-width: 780px;
    margin: 0 auto 4rem;

    border: none;
    border-top: 1px solid #ddd;
}

.remove {
    display: none !important;
}

.back {
    position: relative;

    overflow: hidden;

    text-decoration: none;
}

.back p {
    margin: 0 0 1rem;
}

.back a {
    font-size: 1.4rem;

    padding-bottom: 2px;

    text-decoration: none;

    color: #7f7f7f;
    border-bottom: 1px #7f7f7f dotted;
}

.back a:hover {
    color: #383838;
}

.go-back {
    float: left;
}

.nav {
    float: right;
}

.back span {
    font-weight: 300;

    margin-left: 0.5rem;
}

/* Article Footer */
.postfooter {
    display: -webkit-box;
    display:    -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:         flex;
    flex-direction: row;

    width: 100%;
    max-width: 780px;
    max-width: 100%;
    margin: 1rem auto;
    padding: 1.5rem 0 0;

    border-top: 2px #f6f6f6 solid;

    justify-content: flex-start;
}

/* Author Image */
.authorimage {
    display: block;

    width: 90px;
    height: 90px;
    margin: 0.4rem 2.5rem 0 0;

    border: 4px solid #f4f4f4;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.author {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 0;

    width: 60%;

    color: #383838;
    border-right: 1px #f6f6f6 solid;

    flex: 3;
}

.author ul {
    margin: 0;
    padding: 1.2rem 0 0;
}

.author ul li {
    display: inline-block;

    margin: 0;
    padding: 0.5rem 0;
}

/* Author Name*/
.author ul li h4 {
    font-size: 1.4rem;

    margin: 0;
    padding: 0;
}

.author ul li h4 a {
    text-decoration: none;
}

/* Author Address, Website */
.author ul li h5 {
    margin: 0;
    padding: 0;
}

.authordata {
    font-family: 'Noto Serif', serif;
    font-size: 1.4rem;
    font-weight: 400;
    font-style: italic;

    color: #7f7f7f;
}

.authordata a {
    color: #7f7f7f;
}

.authordata a:hover {
    color: #5ba4e5;
}

.authordata:before {
    font-weight: 300;

    content: ' • ';

    color: #7f7f7f;
}

/* Author Bio */
.authorbio {
    font-family: 'Noto Serif', serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4;

    margin: 0;
    padding: 1.2rem 1rem 0 0;

    color: #7f7f7f;
}

/* ==========================================================================
                    9. Third Party Elements -> post.hbs
   ========================================================================== */

.postfooter .sharepost {
    width: 20%;
    margin: 1.7rem auto;
    padding: 0;

    text-align: center;
}

.postfooter .sharepost h4 {
    font-size: 1.4rem;
    font-weight: 700;

    margin: 0 auto;
    padding: 0;

    text-align: center;

    color: #383838;
}

.postfooter .sharepost a {
    font-size: 2.2rem;

    margin: 1.5rem auto;
    padding-right: 0.5rem;

    text-align: center;
    text-decoration: none;

    color: #ddd;
}

.postfooter .sharepost a:last-child {
    margin: 0;
    padding: 0;
}

.postfooter .sharepost a:hover {
    color: #383838;
}

/* ==========================================================================
                    10. COMMENTS - Disqus
   ========================================================================== */

.cmd {
    font-size: 1.4rem;
    font-weight: 700;

    width: 100%;
    max-width: 780px;
    height: 6rem;
    margin: 0 0 5rem;
    padding: 0;

    transition: border ease 0.3s;
    transition: background-color ease-in 0.3s, border-color ease-out 0.4s, color ease-out 0.4s;
    text-align: center;

    color: #7f7f7f;
    border: 2px solid #ddd;
    border-radius: 4px;
    background: none;
}

.cmd:hover {
    color: #fff;
    border-color: #7f7f7f;
    background: #7f7f7f;
}

/* ==========================================================================
                                11. Author Page
   ========================================================================== */

/* Logo */

.site-head .authorimage {
    display: block;

    width: 90px;
    height: 90px;
    margin: 0 auto;

    border: 3px solid #fff;
    border-radius: 100px;
    background-size: cover;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

.site-head h5,
.site-head h5 a {
    display: inline-block;

    text-decoration: none;

    color: #fff;
    text-shadow: 1px 1px 2px #000;
}

.site-head .authordata:before {
    display: none;
}

.site-head h5 {
    margin: 2.4rem 1rem;
}

.site-head h5 i {
    margin-right: 0.6rem;
}

.site-head h5 a:hover {
    text-decoration: underline;

    color: #fff;
}

.back .go-home {
    margin-bottom: 5rem;
}


/* ==========================================================================
                            12. Media Queries - Tablet
   ========================================================================== */

@media only screen and (max-width: 900px) {
    blockquote {
        margin-left: 0;
    }

    .site-head {
        min-height: 280px;
    }

    .blogtitle a,
    #site-head .header .blogtitle a {
        font-size: 4rem;
        line-height: 1.1;

        letter-spacing: -1px;
    }

    .blogdescription {
        font-size: 1.7rem;
        line-height: 1.5em;
    }

    .posttitle {
        font-size: 3.5rem;
    }

    .postcontent {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 3.5rem;

        text-indent: -2px;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2.8rem;
    }

    h4 {
        font-size: 2.4rem;
    }

    .share a {
        padding-left: 1rem;
    }

    .author {
        max-width: 50%;
    }

    .postfooter .sharepost {
        width: 20%;
    }

    .postfooter .sharepost h4 {
        margin: 0 auto 10%;
    }

    .postfooter .sharepost a {
        margin: 0.5rem 0 0;
        padding: 0 5% 0 0;
    }
}

/* ==========================================================================
                    13. Media Queries - Phone
   ========================================================================== */

@media all and (max-width: 600px) {
    .site-head,
    #site-head {
        width: 100%;
        max-height: 100%;
        margin-bottom: 3rem;
    }

    .main {
        width: 94%;
    }

    .blogtitle a,
    #site-head .header .blogtitle a {
        font-size: 3rem;

        margin: 2rem auto;

        letter-spacing: -1px;
    }

    .blogdescription {
        font-size: 1.5rem;
        line-height: 1.5em;

        width: 90%;
    }
    .posttitle {
        font-size: 3.5rem;
    }

    .postcontent {
        font-size: 1.8rem;
    }

    h1,
    h2 {
        font-size: 3rem;
        line-height: 1.1em;

        letter-spacing: -1px;
    }

    h3 {
        font-size: 2.8rem;
    }

    h4 {
        font-size: 2.3rem;
    }

    .posttitle {
        font-size: 2.8rem;
    }

    .postcontent {
        font-size: 1.6rem;
    }

    .postheader ul {
        line-height: 1.8;
    }

    .author-thumb {
        margin-bottom: 0.2rem;

        vertical-align: middle;
    }

    .postheader ul .date,
    .postheader ul .posttags {
        display: block;
    }

    .date,
    .readtime,
    .posttags a,
    .name-thumb a {
        font-size: 1.2rem;
        line-height: 1.2;

        margin: 0;
        padding: 0;
    }

    .excerptfooter {
        height: 10rem;
        margin: 0 auto;

        text-align: center;

        border-top: 1px solid #ddd;
    }

    .share {
        top: 4rem;

        display: inline-block;

        width: 100%;

        text-align: center;
    }

    .share h4 {
        display: none;
    }

    .share a {
        font-size: 2.5rem;

        margin: 0;
        padding: 2rem 1rem 0;
    }

    .pagination {
        width: 100%;
        padding: 2rem 0 5rem;

        text-align: center;
    }

    .newer-posts,
    .older-posts {
        position: static;
    }

    .page-number {
        display: block;
    }

    .postfooter {
        display: block;
    }

    .postfooter .sharepost a:last-child {
        margin: 0 0.8rem;
        padding: 0;
    }

    .authorimage {
        display: none;
    }

    .author {
        display: block;

        width: 100%;
        max-width: 600px;
        margin: 0 auto;

        text-align: center;

        border-right: none;
    }

    .authorbio {
        margin: 0 auto;
        padding: 1rem 0 0;

        text-align: center;
    }

    .postfooter .sharepost {
        display: block;

        width: 100%;
        margin: 3rem auto;
        padding: 0;

        text-align: center;
    }
    .postfooter .sharepost h4 {
        margin: 0 0 1.5rem 0;
        padding: 0;
    }

    .postfooter .sharepost a {
        font-size: 2.5rem;

        margin: 0 0.8rem;
        padding: 0;
    }

    .article {
        margin-bottom: 4rem;
    }
}
