<header class="site-head post-2">
    <div role="banner" class="header">
        <a class="logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>
        <h1 class="blogtitle">{{{@blog.title}}}</h1>
    </div>
</header>
